<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--配置Mybatis-->
<configuration>


    <!--开启日志-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--类的别名配置，方式一：起名字-->
    <typeAliases>
        <!--类的别名配置，方式二：扫描包,名字默认为首字母小写的类名-->
        <package name="entity"/>
    </typeAliases>

    <!--Mapper文件注册,注意这里的路径需要使用////形式-->
    <mappers>
        <mapper resource="mapper/BookMapper.xml"/>
    </mappers>
</configuration>